:root {
    --primary-color:#b3c3c9;
    --secondary-color: #264653;
    --accent1-color: #f0f8f0;
    --accent2-color: #e9c46a;
    --body-color: #1a1818;
    --heading-color: #333333;
    --white: #f9eeee;
    --footer-bg-color: #1a1818;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--body-font);
    color: var(--body-color);
}

img {
    width: 100%;
}

header {
    display: grid;
    grid-template-columns: 200px auto;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--accent1-color);
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    padding: 1rem;
    list-style: none;

}

nav a:hover {
    background-color: var(--white);
    color: var(--primary-color);
}


header,
main,
footer {
    max-width: 1000px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--heading-color);
}

nav,
p,
section,
article {
    margin: 1rem;
    padding: .5rem;
}

.contact {
    display: block;
    text-align: center;
}

form {
    min-width: 400px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}


label {
    text-align: right;
    padding-right: 1rem;
}

input,
select,
textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

.message-purpose{
    grid-template-columns: 1fr 1fr;
    display: grid;
    text-align: right;
    padding: 2px ;
}

.message-purpose label {
    display: rowspan 4;
}

textarea {
    min-width: 400px;
}

input[type="checkbox"]{
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: steelblue;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.7rem;
    font-size: 1.1rem;
    width: 400px;
}

.contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-item {
    display: grid;
    align-items: center;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}

.map {
    display: grid;
    min-width: 400px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia a:hover {
    background-color: unset;
}

.socialmedia img {
    width: 4rem;
    height: 4rem;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 4rem;
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    padding: 1rem;
    text-align: center;
    opacity: .7;
}

.hero article {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    color: var(--white);
    background-color: var(--secondary-color);
    border: 2px solid var(--heading-color);
    margin-bottom: 2rem;
    opacity: .7;
}

.hero article img {
    float: right;
    width: 125px;
    margin: 0 0 0 1rem;
}

.history {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    gap: 2rem 1rem;
}

.history h2 {
    grid-column: 1 / -1;
    text-align: center;
    /* justify-self: center; */
    margin-bottom: 1rem;
}

.adventures {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem 1rem;
}

.employees {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem 1rem;
}

.adventures, .employees h2 {
    grid-column: 1 / -1;
    justify-self: center;
}

.adventures, .employees figure {
    border: 2px solid var(--secondary-color);
    padding: .5rem;
    background-color: var(--white);
}

footer {
    background-color: var(--footer-bg-color);
    color: var(--white);
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}